.backup__actions {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	justify-content: center;

}
.mr-1 {
	margin-right: 0.5rem !important;
}
.mfa-settings-divider {
	border-top: 2px solid #d9d9d9;
}