body{
    height: 100% !important;
    overflow-y: scroll !important;
}
.pbx__security__main__page {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
    margin-top: 1.5rem;
        margin-bottom: 5rem;

    .sub__description {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #737373;
        width: 75%;
        margin: auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .security__image {
        width: 260px;
        text-align: center;
        margin: auto;
    }

    .security__options {
        display: flex;
        justify-content: center;
        margin-top: 25px;

        .option__icon {
            width: 100px;
            height: 100px;
            background: #FDFDFD;
            box-shadow: 0px 4px 19px rgba(61, 61, 61, 0.21);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;

            img {
                width: 70px;
                margin: auto;
            }
        }

        .option__title {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: #0F5A59;
            margin-top: 16px;
            text-align: center;
            width: 100%;
            margin: auto;
            margin-top: 17px;
        }
    }
}