.table__heading {
    position: absolute;
    margin-top: 16px;
    font-size: 18px;
}

#pwdReminderAdminUsers,
#pwdReminderUcpUsers {
    margin-top: 1rem;
    padding: 1rem;

    .display {
        padding: 0.5rem 2rem;
    }
}