.scheduler_action_btns {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px 5px 0px;
.schedule_report_btn {}

}

.report__preview {
    .well {
        margin-top: 10px;

        .help_text {
            color: grey;
        }
    }
}

.filter_action_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 33px;

    .fa-plus-circle {
        font-size: 25px;
        color: rgb(52, 155, 52);
        cursor: pointer;
    }

    .fa-minus-circle {
        font-size: 25px;
        color: rgb(179, 70, 70);
        cursor: pointer;
    }
}

.filters {
    .row:not(:first-child) {
        margin-top: 1rem;
    }

                .row:last-child {
                    margin-bottom: 1rem;
    }
}

