<module>
	<rawname>areminder</rawname>
	<name>Appointment Reminder</name>
	<description>COMMERCIAL MODULE REQUIRES A LICENSE FOR IT TO FUNCTION.Appointment Reminder module for FreePBX is a unique way to automate
	appointment confirmations, cancellations and reschedules. By simply specifying numbers and names to be called your PBX will automatically call at specified times and allow
	recipients to confirm / cancel / reschedule appointments. The module gives you the flexibility to control all details of the calls from rate limiting to retry attempts and days
	ahead to notify of an appointment. You have the ability to simply load a CSV list of numbers to call, or even add numbers and names manually. On the fly modifications can be
	made to any Appointment Reminder list to allow for total flexibility. </description>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>Commercial</license>
	<licenselink>https://portal.sangoma.com/marketing/resources/15/Sangoma%20Corporate/Terms%20of%20Service%20and%20User%20License%20Agreement/FreePBXCommercialModule-EndUserAgreement.pdf</licenselink>
	<repo>commercial</repo>
	<version>17.0.3.12</version>
	<category>Applications</category>
	<menuitems>
		<areminder needsenginedb="yes">Appointment Reminder</areminder>
	</menuitems>
	<more-info>https://wiki.freepbx.org/display/FPG/Appointment+Reminder</more-info>
	<commercial>
		<type>paid</type>
		<link>//www.freepbx.org/add-ons/#appointment-reminder</link>
	</commercial>
	<depends>
		<phpcomponent>ionCube PHP Loader</phpcomponent>
		<phpversion>8.2</phpversion>
		<module>sysadmin ge 17.0.1</module>
		<module>ttsengines ge 17.0.1</module>
		<version>17.0.1</version>
	</depends>
	<info/>
	<changelog>
		*17.0.3.12* FREEI-1743 fixing undefined variable error 
		*17.0.3.11* FREEI-1695 FPBX17 - pop-out navigation missing in Appointment Reminders 
		*17.0.3.10* Packaging of ver 17.0.3.10
		*17.0.3.9* 17.0.3.9
		*17.0.1* 17.0.1 alpha release
	</changelog>
	<hooks>
		<ucp class="Ucp">
			<method namespace="FreePBX\Modules" class="Areminder" callingMethod="constructModuleConfigPages">ucpConfigPage</method>
			<method namespace="FreePBX\Modules" class="Areminder" callingMethod="addUser">ucpAddUser</method>
			<method namespace="FreePBX\Modules" class="Areminder" callingMethod="updateUser">ucpUpdateUser</method>
			<method namespace="FreePBX\Modules" class="Areminder" callingMethod="delUser">ucpDelUser</method>
			<method namespace="FreePBX\Modules" class="Areminder" callingMethod="addGroup">ucpAddGroup</method>
			<method namespace="FreePBX\Modules" class="Areminder" callingMethod="updateGroup">ucpUpdateGroup</method>
			<method namespace="FreePBX\Modules" class="Areminder" callingMethod="delGroup">ucpDelGroup</method>
		</ucp>
		<sysadmin class="Sysadmin" namespace="FreePBX\modules">
			<method class="Areminder" namespace="FreePBX\modules" callingMethod="getModuleLicenseInformation">sendModuleLicenseInformation</method>
		</sysadmin>
	</hooks>
	<database>
		<table name="areminder">
			<field name="id" type="integer" unsigned="true" primarykey="true" autoincrement="true"/>
			<field name="name" type="string" length="64" default=""/>
			<field name="enabled" type="boolean" default="1" unsigned="true"/>
			<field name="start1" type="integer" default="0"/>
			<field name="start2" type="integer" default="0"/>
			<field name="start3" type="integer" default="0"/>
			<field name="start4" type="integer" default="0"/>
			<field name="start5" type="integer" default="0"/>
			<field name="start6" type="integer" default="0"/>
			<field name="start7" type="integer" default="0"/>
			<field name="stop1" type="integer" default="0"/>
			<field name="stop2" type="integer" default="0"/>
			<field name="stop3" type="integer" default="0"/>
			<field name="stop4" type="integer" default="0"/>
			<field name="stop5" type="integer" default="0"/>
			<field name="stop6" type="integer" default="0"/>
			<field name="stop7" type="integer" default="0"/>
			<field name="outcid" type="string" length="56" default=""/>
			<field name="outcidname" type="string" length="56" default=""/>
			<field name="cidtype" type="string" length="24" default="default"/>
			<field name="maxnotice" type="integer" default="0" unsigned="true"/>
			<field name="retrycount" type="smallint" default="3" unsigned="true"/>
			<field name="retrydelay" type="smallint" default="300" unsigned="true"/>
			<field name="greetingid" type="smallint" default="0" unsigned="true"/>
			<field name="greeting2id" type="smallint" default="0" unsigned="true"/>
			<field name="sayname" type="boolean" default="1" unsigned="true"/>
			<field name="saydate" type="boolean" default="1" unsigned="true"/>
			<field name="instructionsid" type="smallint" default="0" unsigned="true"/>
			<field name="csext" type="string" length="64" default=""/>
			<field name="resched" type="string" length="4" default="LOG"/>
			<field name="schedext" type="string" length="64" default=""/>
			<field name="ttsengine" type="integer" default="1"/>
			<field name="emailcomplete" type="text"/>
			<field name="emailfrom" type="text"/>
			<field name="attachas" type="string" length="4" default="CSV"/>
			<field name="lastemail" type="integer" default="0" unsigned="true"/>
		</table>
		  <table name="areminder_calls">
			<field name="id" type="integer" unsigned="true" primarykey="true" autoincrement="true"/>
			<field name="arid" type="integer" default="0" unsigned="true"/>
			<field name="name" type="string" length="64" default=""/>
			<field name="number" type="string" length="24" default=""/>
			<field name="status" type="boolean" default="0"/>
			<field name="retry" type="integer" default="0"/>
			<field name="appointment" type="integer" default="0" unsigned="true" notnull="false"/>
			<field name="calltime" type="integer" default="0" unsigned="true" notnull="false"/>
			<field name="length" type="integer" default="0" unsigned="true"/>
			<field name="notes" type="string" length="512" notnull="false"/>
		</table>
		<table name="areminder_settings">
			<field name="id" type="integer" unsigned="true" primarykey="true" autoincrement="true"/>
			<field name="key" type="string" length="64" default=""/>
			<field name="value" type="string" length="64" default=""/>
		</table>
		<table name="areminder_updates">
			<field name="id" type="integer" unsigned="true"/>
			<field name="uri" type="string" length="2048" default=""/>
			<field name="delete" type="boolean" default="0" notnull="false"/>
			<field name="update" type="integer" default="300"/>
			<field name="lastupdate" type="integer" default="0" unsigned="true" notnull="false"/>
		</table>
	</database>
	<supported>
		<version>17.0</version>
	</supported>
</module>
